.is-mile-1
{
	background-color: #689775
}
.is-mile-2
{
	background-color: #917164
}
.is-mile-3
{
	background-color: #C7493A
}
.is-mile-4
{
	background-color: #A33327
}
.is-mile-5
{
	background-color: #AD8174
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

.is-borderless { border: 0}

